{% extends 'adminhome.html' %}
{% block content %}

    {% if overdue_alert %}

    <div class="container mt-3">
        <h4 class="text-center">Overdue Rentals Alert</h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr class="bg-dark text-light">
                    <th>User</th>
                    <th>Book Name</th>
                    <th>Overdue Days</th> 
                    <th>Fine</th>
                </tr>
                <tr>
                {%  for alert in overdue_alert %}
                <td>{{ alert.user }}</td>
                <td>{{ alert.book }}</td>
                <td>{{ alert.overdue_days }}</td>
                <td>₹{{ alert.fine }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        
    </div>
    {% else %}

    <div style="width: 100%; height: 300px;">
        <p class="text-center"><b>No Notifications</b></p>
    </div>

    {% endif %}

{% endblock %}